body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

.container{
    width:600px;
    margin:100px auto;
    text-align:center;
    padding:40px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

button{
    padding:12px 25px;
    border:none;
    background:#0078D7;
    color:white;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#005cbf;
}

h2{
    color:green;
}
